{% extends 'base.html' %}

{% block head %}
    {{ form.media }}
{% endblock %}

{% block includes %}

<script type="text/javascript">
{% autoescape off %}
    //valid_subs = {{valid_subs}};
    //valid_pis = {{valid_pis}};
{% endautoescape %}
</script>
{% endblock %}

{% block content %}
    <form class="form" id="create" method="POST">
    {% csrf_token %}
            {{ form.errors }}
    <div>
        <h2>Flow Title</h2>
            {{ form.name }}
    </div>
    <div id="technqiues">
        <h2>Techniques</h2>
            {{ form.techniques }}
        <!--<a href="/technique/create/">Add new</a>-->
    </div>

    <input type="submit" id="create-button" />
    <div style="clear:both;"></div>
    </form>
{% endblock %}
