{% extends 'base.html' %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#id_type").change(function(){
                SUBMISSION = 1;
                SWEEP = 2;
                POSITION = 3;
                if ($(this).val() == POSITION){
                    $("#id_start").parent().hide();
                    $("#id_end").parent().hide();
                }
                if ($(this).val() == SUBMISSION){
                    $("#id_start").parent().show();
                    $("#id_end").parent().hide();
                }
                if ($(this).val() == SWEEP){
                    $("#id_start").parent().show();
                    $("#id_end").parent().show();
                }

            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="form" id="technique-form">
        <h1>Add a new technique</h1>
        <form method="POST" id="submission-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ f.as_ul }}
            {{ image_formset.as_ul }}
            <div style="clear:both;"></div>
            <input type="submit">
        </form>    
        <div style="clear:both;"></div>
    </div>
{% endblock %}
