{% extends 'base.html' %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#search").keyup(function(){
            if ($(this).val()==""){
                $(".content-item").show();
            }
            else {
                $(".content-item").not(":contains("+$(this).val()+")").hide();
                $(".content-item").filter(":contains("+$(this).val()+")").show();
            }
        });
    });
</script>

{% endblock %} 

{% block content %}
    <h1 style="float:left;">Techniques</h1>
    <form class="form" style="width: 450px; float: left; border: none; background: none; padding: 0px">
        <input id="search" placeholder="Search for a technique" style="width: 400px; font-size: 20pt; float: none">
    </form>
    <div style="clear:both">
        <a href="/technique/create/">Create a new technique</a>
    </div>
    <ul style="clear: both">
    {% for technique in techniques %}
        <a href="{{ technique.get_absolute_url }}"> 
        <li class="content-item" style="min-height: 165px;">
            {% if technique.images.all.0.image %}
                <img src="{{ technique.images.all.0.image.url }}" style="width:100px; max-height:75px; float: left;">
            {% endif %}    
            <div style="float: left; padding-left: 20px; width: 150px;">
                {{ technique.images.0 }}
                {{ technique.name }}
                {% if technique.start %}
                    <div style="font-style: italic; font-size: 10pt;" >from {{ technique.start }}</div>
                {% endif %}
            </div>
        </li>
        </a>
    {% endfor %}
    </ul>
{% endblock %}

