{% extends 'base.html' %}

{% block content %}
    <h1 style="float: left;">{{ t.name }}</h1>
    <a href="{{ t.get_absolute_url }}edit" style="display: block; margin-top: 22px; padding-left:10px; font-size: 8pt">Edit</a>
    <div style="padding-top: 20px;">
        {% if t.youtube_id %}
        <div class="content-item">
            <iframe width="500px" height="400px" src="http://www.youtube.com/embed/{{ t.youtube_id }}?rel=0#t={{ t.youtube_start }}" frameborder="0" allowfullscreen></iframe>
        </div>
        {% endif %}
        {% if t.description %}
        <div class="content-item" style="width:300px;">
            {{ t.description }}
        </div>
        {% endif %}
    </div>
    <div style="clear:both">
        <h2>Related techniques</h2>
        <ul>
        {% for t2 in related %}
            <li class="content-item" style="width:500px;">
            {% if t2.images.all.0.image %}
                <img src="{{ t2.images.all.0.image.url }}" style="width:100px; max-height:75px; float: left; margin-right:20px;">
            {% endif %}    
            <a href="{{ t2.get_absolute_url }}">{{ t2 }}</a>
            </li>
        {% empty %}
            <i>None yet, <a href="{% url technique.views.create %}">create a technique</a></i>
        {% endfor %}
        </ul>
    </div>
    <div style="clear:both">
        <h2>Flows containing {{ t.name }}</h2>
        <ul>
        {% for f in t.flow_set.all %}
            <li class="content-item"><a href="{{ f.get_absolute_url }}">{{ f }}</a></li>
        {% empty %}
            <i>None yet, <a href="{% url flow.views.create %}">create a flow</a></i>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
