{% extends 'base.html' %}

{% block content %}
<h1>Users</h1>
<ul style="clear: both">
{% for u in users %}
    <a href="{{ u.username }}"> 
    <li class="content-item" style="min-height: 145px;">
        {{ u.username }}
<!--        <img src="{{ technique.images.all.0.image.url }}" style="width:100px; float: left;">
        <div style="float: left; padding-left: 20px; width: 150px;">
            {{ technique.images.0 }}
            {{ technique.name }}
            {% if technique.start %}
                <div style="font-style: italic; font-size: 10pt;" >from {{ technique.start }}</div>
            {% endif %}
        </div>-->
    </li>
    </a>
{% endfor %}
</ul>



{% endblock %}

