{% extends 'base.html' %}
{% block content %}
<div class="img-wrapper faq">
    <div>
        <h1>What is BJJWeb.com?</h1>
        BJJWeb.com is designed to be the definitive source for Brazilian Jiu-Jitsu techniques and tactics on the web. 
    </div>
</div>
<div class="img-wrapper faq">
    <div>
        <h1>Why would I use BJJWeb.com?</h1>
        Brazilian Jiu-Jitsu is unbelievably complicated! Every time I watch an advanced match or see someone catch their opponent with a slick trap it blows my mind. I made BJJWeb.com to help me manage that complexity by organizing the art and displaying it visually. Hopefully this helps you too!
    </div>
</div>
<div class="img-wrapper faq">
    <div>
        <h1>How do I use BJJWeb.com?</h1>
        Browse the Techniques section to see classes of techniques, which are linked to public Youtube videos that can help you learn them. In order to visualize the art and find new strategies, use the Flows section where you can see how everything fits together. your game and fill in gaps, use the Flows section 
    </div>
</div>
<div class="img-wrapper faq">
    <div>
        <h1>What is a Flow?</h1>
        A BJJWeb.com "Flow" is a set of techniques that are grouped together, for whatever reason, and displayed as a flow chart. Some examples of grouping could be: all collar chokes, advanced traps, De la Riva Guard passes, or Ronda Rousey's armbar setups.
    </div>
</div>
<div class="img-wrapper faq">
    <div>
        <h1>What are some ways I could use BJJWeb.com Flows?</h1>
        <ul>
            <li>Map your own game to discover gaps</li>
            <li>Map your favorite player's game and compare it to others</li>
            <li>Map an opponent's game and explore an arsenal of technqiues to attack them</li>
            <li>etc...!</li>
        </ul>
        Let me know by clicking Help & Feedback at the bottom if you want to do something that you can't fit into the program and I'll work on it!
    </div>
</div>
<div class="img-wrapper faq">
    <div>
        <h1>Site's broken! Now what?</h1>
        Click the Help & Feedback button on the bottom and let me know!
    </div>
</div>
<div class="img-wrapper faq">
    <div>
        <h1>Love the site! How can I help?</h1>
        Just keep adding techniques and flows, and let me know via the Help & Feedback link that you're enjoying the site (this way, I'll keep working on it!). 
    </div>
</div>
{% endblock content %}
