<html>
    <head>
        <title>Learn Brazilian Jiu-Jitsu from the community</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
        {% block head %}
        {% endblock %}
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/flick/jquery-ui.css" type="text/css" rel="stylesheet" >
        <link href="{{ STATIC_URL }}css/styles.css" type="text/css" rel="stylesheet" >
        
    </head>
    <body>
        <div id="header">
            <img src="{{ STATIC_URL }}img/beltend.png">
            <div id="main-title"><h1><a href="/">BRAZILIAN JIU JITSU</a></h1></div>
            <div id="sub-title"><h2><a href="/">Learn from the community</a></h2>
                    <ul>
                        <li><a href="/flow/">Flows</a></li>
                        <li><a href="/technique/">Techniques</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="/users/">Users</a></li>
                            <li><a href="/accounts/logout/">Logout</a></li>
                        {% else %}
                            <li><a href="/accounts/register/">Sign up</a></li>
                        {% endif %}
                    </ul>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
            <div style="clear:both;"></div>
        </div>
        <div id="footer">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{% url about %}">About</a></li>
                <li><a href="javascript:UserVoice.showPopupWidget();">Help & Feedback</a></li>
            </ul>
        </div>
        <script type="text/javascript">
          var uvOptions = {};
          (function() {
            var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
            uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/zl3MkxGMd6izZaiugQTww.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
          })();
        </script>
    </body>
    {% block includes %}{% endblock %}
    {% block js %} {% endblock %}
</html>


